@model ATable.Models.Utilisateur

@{
    ViewBag.Title = "MonCompte";
}


<div class="container body-content">
    <div class="row valign-wrapper center-align">
        <div class="col s12 m6 offset-m3 valign">
            <h2>Mon Compte</h2>
            <hr />


        </div>
    </div>
</div>